body {
  text-align: center;
  background-image: url("./images/drumWallpaper.jpg");
  background-size: 100% 260%;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 6rem;
  color: #001c25;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #da0463;
}

.center {
  padding-top: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #ff4e50 0%,
    #f9d423 51%,
    #ff4e50 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 10px #eee;
  border-radius: 10px;
  display: block;
  width: 200px;
  height: 60px;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
